build/
build-debug/
build-release/
build-test/
out/
.vs/
.vscode/
.idea/
.cache/
_deps/

*.exe
*.obj
*.o
*.lib
*.a
*.pdb
*.ilk
*.exp
*.dll
*.so
*.dylib

CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
cmake_install.cmake
Makefile
compile_commands.json

data/srs.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
